#navbar {
    display: flex;
    justify-content: space-around;
    font-size: 28px;
    background-color: rgb(151, 78, 220);
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: white;
}