h1 {
    text-align: center;
    margin-bottom: 50px;
  }
#navbar {
    background-color: #1b2837;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #navbar > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #navbar > div > h3 {
    margin-right: 20px;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  #navbar > div > h2 {
    margin-left: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  
table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

th,
td {
  padding: 15px;
}

tr > th {
  background-color: teal;
  color: white;
}

.deleteItem {
    color: red;
    cursor: pointer;
  }
